<%= stylesheet_link_tag "winner" %>

<%= javascript_include_tag "winner" %>
<div class="barra2">
<div class="winner well barra well2 text-center">
<h3>ganador es</h3> <h1 class="winner"><%= player.name %>!</h1>
</div>
</div>
<div class="confetti confetti1"></div>
<div class="confetti confetti2"></div>
<div class="confetti confetti3"></div>
<div class="confetti confetti4"></div>
<div class="confetti confetti5"></div>
<div class="confetti confetti6"></div>
<div class="confetti confetti7"></div>
<div class="confetti confetti8"></div>
<div class="confetti confetti9"></div>
<div class="confetti confetti10"></div>
<div class="confetti confetti11"></div>
<div class="confetti confetti12"></div>
<div class="confetti confetti13"></div>
<div class="confetti confetti14"></div>
<div class="confetti confetti15"></div>
<div class="confetti confetti16"></div>
<div class="confetti confetti17"></div>
<div class="confetti confetti18"></div>
<div class="confetti confetti19"></div>
<div class="confetti confetti20"></div>
<div class="confetti confetti21"></div>
<div class="confetti confetti22"></div>
<div class="confetti confetti23"></div>
<div class="confetti confetti24"></div>
<div class="confetti confetti25"></div>
<div class="confetti confetti26"></div>
<div class="confetti confetti27"></div>
<div class="confetti confetti28"></div>
<div class="confetti confetti29"></div>
<div class="confetti confetti30"></div>
<div class="confetti confetti31"></div>
<div class="confetti confetti32"></div>