<table class='CSSTableGenerator'>
<tr>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
</tr>
<tr>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
</tr>
<tr>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
</tr>
<tr>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
</tr>
<tr>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
</tr>
<tr>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
    <td>
      Cat 1
    </td>
</tr>
</table>
