<div class="well">
<%= form_for @player do |f| %>
  <div class='control-group' id='users'>
    <input type="button" value="Add another text input" onclick="addInput('users');">
  </div>
  <div class='control-group'>
    <%= f.label :num_players, 'Numero de jugadores' %>
    <br/>
    <%= f.text_field :num_players %>
  </div>
<% end %>
</div>
