.clear {
clear: both;
}
.container {
width: 960px;
margin: auto;
}

.barra3 {
  margin-left: 10%;
  padding-left: 15%;
  padding-rigth: 10%;
  width: 70%;
}


.confetti
{
width: 25px;
height: 25px;
margin-top: -50px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
position:relative;
animation:confetti 5s;
-webkit-animation:confetti 5s;
animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite; /* Safari and Chrome */
}
@keyframes confetti
{
0% {top:0px;}
100% {top:450px;}
}
@-webkit-keyframes confetti /* Safari and Chrome */
{
0% {top:0px;}
100% {top:900px;}
}
.confetti1, .confetti2, .confetti3, .confetti4 {
background-color: #0000FF;
}
.confetti1 .confetti12 {
animation-delay:.5s;
-webkit-animation-delay:.5s;
}
.confetti1 {
margin-left: 50px;
}
.confetti2 {
margin-left: 300px;
}
.confetti3, .confetti6, .confetti20 {
animation-delay:1.5s;
-webkit-animation-delay:1.5s;
}
.confetti3 {
margin-left: 800px;
}
.confetti4 {
margin-left: 600px;
animation-delay:3s;
-webkit-animation-delay:3s;
}
.confetti5, .confetti6, .confetti7 {
background-color: #FF9900;
}
.confetti5 {
margin-left: 700px;
}
.confetti6 {
margin-left: 200px;
}
.confetti7, .confetti8 {
animation-delay:4.5s;
-webkit-animation-delay:4.5s;
}
.confetti17 {
margin-left: 100px;
}
.confetti8, .confetti9, .confetti10, .confetti11 {
background-color: #0033CC;
}
.confetti8 {
margin-left: 200px;
}
.confetti9 {
margin-left: 900px;
}
.confetti10, .confetti14, .confetti18 {
animation-delay:2.5s;
-webkit-animation-delay:2.5s;
}
.confetti10 {
margin-left: 550px;
}
.confetti11 {
margin-left: 350;
animation-delay:2s;
-webkit-animation-delay:2s;
}

.confetti12, .confetti13, .confetti14 {
background-color: #00FF00;
}
.confetti12 {
margin-left: 550;
}
.confetti13 {
margin-left: 820;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti14 {
margin-left: 770;
}
.confetti15, .confetti16, .confetti17, .confetti18 {
background-color: #FF0000;
}
.confetti15 {
margin-left: 850px;
}
.confetti16 {
margin-left: 300px;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti17, .confetti21 {
animation-delay:.5s;
-webkit-animation-delay:.5s;
}
.confetti17 {
margin-left: 450px;
}
.confetti18 {
margin-left: 650px;
}
.confetti19, .confetti20, .confetti21 {
background-color: #FFFF00;
}
.confetti19 {
margin-left: 650px;
}
.confetti20 {
margin-left: 1150px;
}
.confetti21 {
margin-left: 400px;
}



.confetti22 {
margin-left: 850;
animation-delay:2s;
-webkit-animation-delay:2s;
}
.confetti23, .confetti24, .confetti25 {
background-color: #FFFF00;
}
.confetti23 {
margin-left: 850;
}
.confetti24 {
margin-left: 1220;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti25 {
margin-left: 1070;
}
.confetti26, .confetti27, .confetti28, .confetti29 {
background-color: #FF0000;
}
.confetti26 {
margin-left: 1220px;
}
.confetti27 {
margin-left: 600px;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti28, .confetti32 {
animation-delay:.5s;
-webkit-animation-delay:.5s;
}
.confetti28 {
margin-left: 750px;
}
.confetti29 {
margin-left: 950px;
}
.confetti30, .confetti31, .confetti32 {
background-color: #FF6600;
}
.confetti30 {
margin-left: 950px;
}
.confetti31 {
margin-left: 1150px;
}
.confetti32 {
margin-left: 700px;
}

