<div class="well">
<%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label 'Nombre de categoría' %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <br/>
    <%= f.submit(@category.new_record? ? 'Nueva Categoría' : 'Actualizar Categoría', class: 'btn btn-primary')%>
<% end %>
</div>
