<div id="footer">
  <table border="0" width="100%">
    <tbody>
      <tr>
        <td align="center" width="34%">
          Tsunami Jeopardy!
        </td>
      </tr>
    </tbody>
  </table>
</div>
