<table border="0" width="100%">
    <tbody>
        <td>
        <ul class="nav">
          <li>
            <div class='nav_item'>
              <h3><%= link_to "Tsunami", root_path, :class => 'brand' %></h3>
            </div>
          </li>
          <li>
            <div class='nav_item'>
              <h3><%= link_to "User", users_path, :class => 'brand' %></h3>
            </div>
          </li>
          <li>
            <div class='nav_item'>
              <h3><%= link_to "Preguntas", questions_path, :class => 'brand' %></h3>
            </div>
          </li>
        </ul>
      </td>
      </tr>
    </tbody>
  </table>
